@font-face {
    font-family: odin-bold;
    src: url("./assets/Norse-Bold.otf");
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-one {
    flex: 1 0 0;
    background-image: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.banner-one > div {
    height: 20%;
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.banner-one > div > img {
    height: 100%;
    margin-left: 20%;
}

.banner-one > div > span {
    font-family: "odin-bold", sans-serif;
    font-size: 128px;
    vertical-align: 30%;
    color: white;

}

.banner-two {
    flex: 2 0 0;
    background-color: #E5E7EB;
}

form > div:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 70px;
    margin-right: 25%;
}

form > div > * {
    margin-left: 40px;
} 

form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grey-background {
    flex: 1.2 1 0;
}

.lighter-background {
    background-color: white;
    flex: 1 0.8 0;
    box-shadow: 0px 3px 10px -8px;
}

.lighter-background > p {
    font-size: 24px;
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.form-pair {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.form-pair > input:nth-last-child(n+1) {
    margin-bottom: 15px;
}

.form-pair > label {
    font-size: 12px;
}

.form-pair > input {
    font-size: 16px;
    border: 1.5px #E5E7EB solid;
    border-radius: 2px;
    box-shadow: none;
}

input:focus {
    outline-color: blue;
    box-shadow: 3px 3px 8px -6px;
}

input:invalid {
    outline-color: red;
}